{% extends "base.html" %} 
{% block content %}

<div class="booking-details">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h2 class="text-uppercase">BOOKING DETAILS</h2>
        </div>
    </div>
    {% for booking in bookings %}
    <div class="container booking-details-card card my-2">
        <div class="row">
            <div class="col-12 col-md-8 mt-3">
                <ul>
                    <li>Location: <strong> {{booking.location}}</strong>
                    </li>
                    <li>Space Type: <strong> {{booking.space_booking}}</strong>
                    </li>
                    <li>Booking Date: <strong> {{booking.booking_date}}</strong>
                    </li>
                    <li>Duration: <strong> {{booking.booking_duration}}</strong></li>
                    <li>Booking Starts: <strong> {{booking.booking_start}}</strong></li>
                    <li>Booking Ends: <strong> {{booking.booking_end}}</strong></li>
                </ul>
                <span><li>Last updated: <strong> {{booking.updated_on}}</strong></li></span>
            </div> 
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}