{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="booking-info">
    <div class="container card booking-data">
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <h2 class="text-center">BOOK WORKSPACE</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form  method="POST" action="{% url 'space_booking' %}">
              {% csrf_token %}
              {{ form | crispy }}
              <div class="d-grid gap-2 col-6 mx-auto">
                  <button class="btn btn-bookspace" type="submit">BOOK WORKSPACE</button>
              </div>
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}
