{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Hero image Carousel -->
<div id="carouselDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <!--hero image 1-->
            <div class="hero-container">

                <div class="hero-image1 d-block w-100"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-8 text-center mx-auto image-txt1">
                            <h2 class="hero-text mb-5">YOUR WORKSPACE MADE EASY</h2>
                            <a href="{% url 'space_booking' %}" class="btn btn-lg btn-bookspace">Book a Space</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <!--hero image 2-->
            <div class="hero-container">
                <div class="hero-image2 d-block w-100"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-8 text-center mx-auto image-txt2">
                            <h2 class="hero-text mb-5">WORKSPACE WHERE INNOVATION HAPPENS</h2>
                            <a href="{% url 'space_booking' %}" class="btn btn-lg btn-bookspace">Book a Space</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- /Hero image Carousel -->

<!--Location images-->
<section class="container mt-3">
    <div class="row">
        <div class="col-12 my-4">
            <h3 class="text-center">FIND YOUR WORKSPACE</h3>
        </div>
    </div>

    <div class="row gy-5 gap-md-0">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <div class="card text-center">
                <img loading="lazy"
                    src="https://res.cloudinary.com/dep46gq6m/image/upload/v1681639090/desk-hq-loc1_g5pgjb.webp"
                    width="500" height="500" class="img-fluid rounded card-img-top" alt="location image">
                <div class="card-body">
                    <h4 class="card-title">DESK HQ Brooklyn House</h4>
                    <p>3 STONE AVENUE LONDON SE5 2AZ</p>
                    <a href="{% url 'services' %}" class="btn btn-location" aria-label="Go To Services Page">Our
                        Services</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <div class="card text-center">
                <img loading="lazy"
                    src="https://res.cloudinary.com/dep46gq6m/image/upload/v1681639017/desk-hq-loc2_p2ksvj.webp"
                    width="500" height="500" class="img-fluid rounded card-img-top" alt="location image">
                <div class="card-body">
                    <h4 class="card-title">DESK HQ Dockyard Place</h4>
                    <p>55 PARADE STREET LONDON E20 3YB</p>
                    <a href="{% url 'services' %}" class="btn btn-location" aria-label="Go To Services Page">Our
                        Services</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Location images-->

<!-- Map Location -->
<div class="container mt-5">
    <div class="row location-content">
        <div class="col-md-12 col-lg-6 mt-3">
            <div class="row">
                <div class="col-2">
                    <i class="fa-sharp fa-solid fa-map-location-dot" aria-hidden="true"></i>
                </div>
                <h4 class="col-10">Our Workspace Locations</h4>
            </div>
            <p>
                Our locations are easily accessible, good public transportation options, with buses and train
                stations
                nearby. Shopping mall, cafe and bar located near.
            </p>
            <div class="mt-5">
                <h4>Give us a shout</h4>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="fa-solid fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">020 1234 5678</div>
                        <div class="col-2">
                            <i class="fa-regular fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="col-10 mb-md-5">book@deskhq.com</div>
                    </div>
                </div>
            </div>
        </div>
        <!--Google Map-->
        <div class="col-md-12 col-xl-6">
            <div id="map"></div>
        </div>
    </div>

    <!-- Contact Form -->
    <div id="contact-us">
        <div class="row my-5">
            <div class="col-md-12">
                <h4 class="text-center"><strong>CONTACT US</strong></h4>
                <P class="container-fluid col-lg-8 mt-4 mt-lg-0 text-center">Like to know more about our booking? Fill
                    out the form
                    below and one of our team will reach out to you soon.
                </P>
                <div class="container-fluid col-lg-8 mt-3 mt-lg-0">
                    <form method="POST" action="{% url 'home' %}" class="contact-form">
                        <div class="mb-3">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-md-6 mt-3 mt-md-3">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" required>
                                </div>
                                <div class="col-12 col-md-6 mt-3 mt-md-3">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required>
                            </div>
                            <div class="mt-3">
                                <textarea class="form-control" name="message" id="message" rows="5"
                                    placeholder="Message" required></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg btn-enquiry">
                                Enquire Now
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Google Map Cluster -->
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>

<!-- Google Map -->
<script  async
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkbdGJ_uE8Scsn5U2u0ZjMqninbbeLnTg&callback=initMap&v=3.51">
</script>

{% endblock %}

