*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**************** Hero images  **************/
.hero-container {
    position: relative;
}

.page{
    margin-top: 5vh;
    min-height: 95vh;
}

.hero-image1{
    min-height: 80vh;
    background: linear-gradient(rgba(3, 13, 22, 0.1), rgba(3, 13, 22, 0.4)), url(https://res.cloudinary.com/dep46gq6m/image/upload/v1678958093/office-desk_bwtoie.jpg);
    /* opacity: 80%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-image2{
    min-height: 80vh;
    background: linear-gradient(rgba(9, 3, 22, 0.1), rgba(9, 3, 22, 0.4)), url(https://res.cloudinary.com/dep46gq6m/image/upload/v1678959061/executive-wrkspace_q9lxvt.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-image3{
    min-height: 80vh;
    background: linear-gradient(rgba(9, 3, 22, 0.1), rgba(9, 3, 22, 0.4)), url(https://res.cloudinary.com/dep46gq6m/image/upload/v1678967592/day-workstation-hero_hbuwzt.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    padding: 2rem;
    color: #fff;
    text-shadow: 0px 0px 10px #e9f1f375;
}

/**************** Form  **************/

.form-page{
    min-height: 95vh;
    display: grid;
    align-content: center;
}

.booking-data,
.signup-card,
.signin-card{
    width: 40%;
    margin: auto;
    padding: 0.8rem;
    box-shadow: 0px 0px 3px 0.5px rgba(3, 4, 94, 0.3);
    border-radius: 5px;
}

.link {
    color: #03045E;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #0077B6;
    text-decoration: underline;
}

/*********** Map ************/
#map {
    min-height: 360px;}

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
   }
  
.btn-login:hover, 
.btn-signup:hover,
.btn-bookspace:hover,
.btn-location:hover {
    background-position: right center;
    text-transform: uppercase;
    color: #fff;
  }
  
  .btn-login,
  .btn-signup,
  .btn-bookspace,
  .btn-location {
    background-image: linear-gradient(to right, #00B4D8 0%, #03045E 51%, #0077B6 100%);
  }

  .bg-footer{
    background-color: #0077B6;
    color: #fff;
  }

  @media (max-width:768px){
    .signin-card,
    .form-page,
    .signup-card{
        width: 60%;
    }
  }

  @media (max-width:576px){
    .signin-card,
    .form-page,
    .signup-card{
        width: 80%;
    }
  }

  @media (max-width:300px){
    .signin-card,
    .form-page,
    .signup-card{
        width: 100%;
    }
  }