{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Desk HQ is an Office Space Booking with Varying List of Capacities.">
  <meta name="keyword"
    content="Office, Space, Services, WorkSpace, Desk, DeskSpace, Cowork Space, Office Rooms, Conference Room, Booking">
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--Bootstrap css CDN Links-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- Main CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <!-- Favicons -->
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">

  <title>Desk HQ</title>
</head>

<body class="d-flex flex-column">
  <header id="header" class="fixed-top shadow mb-5 bg-body rounded">
    <div class="container-fluid d-flex justify-content-between bg-light navbar-expand-lg">

      <h1 class="my-auto">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="https://res.cloudinary.com/dep46gq6m/image/upload/v1681749635/desk-hq-logo_dif4vy.webp"
          alt="Logo" width="32" height="32">
          <span class="fs-3 text-uppercase">Desk HQ</span>
        </a>
      </h1>

      <!-- Navigation -->
      <nav class=" navbar">
        <div class="container">

          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">

            <div class="offcanvas-header">
              {% if user.is_authenticated %}
              <h2 class="offcanvas-title logo" id="offcanvasNavbarLabel">
                {{user.username}}
              </h2>
              {% else %}
              <h2 class="offcanvas-title logo" id="offcanvasNavbarLabel">
                DESK HQ
              </h2>
              {% endif %}
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
                {% if user.is_authenticated %}

                <li class="nav-item">
                  <a class="nav-link booking-btn" href="{% url 'booking_details' %}">Booking Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
      </nav>
    </div>


    <!--Messages-->
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </header>

  <main class="page-top">
    {% block content %}
    <!-- Content Goes here -->
    {% endblock %}
  </main>

  <!-- Footer -->
  <footer class=" container-fluid bg-footer mt-5 text-center">
    <div class="row mt-3">

      <div class="col-12 col-md-4">
        <h4><a class="navbar-brand" href="{% url 'home' %}">DESK HQ</a></h4>
        <small>
          <div class="mb-2">Office Locations London:</div>
          <div>South East London</div>
          <div>East London</div>
          <p class="site-use">This site is not intended for commercial use</p>
        </small>
      </div>

      <div class="col-12 col-md-4 mb-3">
        <h4 class="mb-2"><u>Contact Us</u></h4>
        <small>
          <div>
            <span><i class="fa-solid fa-phone me-4"></i></span>
            <span> 020 1234 5678</span>
          </div>
          <div>
            <span><i class="fa-regular fa-envelope me-1"></i></span>
            <span>book@deskhq.com</span>
          </div>
        </small>
      </div>

      <div class="col-12 col-md-4 my-1">
        <h4 class="mb-3">DESK HQ socials</h4>
        <div class="social-links mb-5">
          <a href="https://facebook.com" target="_blank" rel="noopener"
            aria-label="visit our Face book page (opens in a new tab)"><i class="fab fa-facebook-square ms-3"></i></a>
          <a href="https://twitter.com" target="_blank" rel="noopener"
            aria-label="visit our Twitter page (page opens in a new tab)"><i class="fab fa-twitter-square ms-3"></i></a>

          <a href="https://www.linkedin.com/in/rashidat-adekoya-668843245/" target="_blank" rel="noopener"
            aria-label="visit my Rashidat's Linkedin page (opens in a new tab)">
            <i class="fa-brands fa-linkedin ms-3"></i>
          </a>
          <a href="https://instagram.com" target="_blank" rel="noopener"
            aria-label="visit our Instagram page (page opens in a new tab)"><i class="fab fa-instagram ms-3"></i></a>
        </div>
        <div class="d-inline git-link social-links">
          <a href="https://github.com/Shida18719" target="_blank" rel="noopener"
            aria-label="visit Shida18719's Github page (opens in a new tab)">
            <p>©<span id="current-year" class="me-1"></span>
            <span></span>Project by Rashidat</span>
            <i class="fab fa-github-square ms-3"></i></a></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- /End Footer -->

  <!-- Back to top button -->
  <button class="btn btn-sm btn-primary rounded-square position-fixed bottom-0 end-0 translate-middle d-none"
    onclick="scrollToTop()" id="back-to-up" aria-label="Back To Top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </button>
  <!-- /End Back to top button -->

  <!--Bootstrap JS CDN Links-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>

  <!-- Google Map Cluster--->
  <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>

  <!-- Google Map  -->
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkbdGJ_uE8Scsn5U2u0ZjMqninbbeLnTg&callback=initMap"></script>

  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>